In [1]:
# Import Libraries 
import pandas as pd
import numpy as np

### 

This dataset was intentionally created with missing values, duplicates, inconsistent data types, and unclean column names to demonstrate data cleaning techniques.

In [3]:
# Create a Messy Dataset 
data = {
    " Student ID ": [101, 102, 102, 103, 104],
    "Name": ["Ayo", "Bola", "Bola", "Chidi", None],
    "Score": ["78", "85", "85", None, "70"],
    "Date_Joined": ["2024-01-10", "2024/02/15", "2024/02/15", "15-03-2024", None]
}

df = pd.DataFrame(data)
df

    Student ID    Name Score Date_Joined
0           101    Ayo    78  2024-01-10
1           102   Bola    85  2024/02/15
2           102   Bola    85  2024/02/15
3           103  Chidi  None  15-03-2024
4           104   None    70        None

In [8]:
# Inspect the Dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0    Student ID   5 non-null      int64
 1   Name          4 non-null      object
 2   Score         4 non-null      object
 3   Date_Joined   4 non-null      object
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes

In [10]:
df.isna().sum()

 Student ID     0
Name            1
Score           1
Date_Joined     1
dtype: int64

### Data Cleaning Steps

In [13]:
# Standardize Column Names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns

Index(['student_id', 'name', 'score', 'date_joined'], dtype='object')

In [23]:
# Handle Missing Values. Fill missing names
df["name"] = df["name"].fillna("Unknown")

In [25]:
# Convert score to numeric and fill missing
df["score"] = pd.to_numeric(df["score"], errors="coerce")
df["score"] = df["score"].fillna(df["score"].mean())

In [19]:
# Fix Incorrect Data Types and Parse Dates 
df["date_joined"] = pd.to_datetime(df["date_joined"], errors="coerce")

In [38]:
# Fill missing dates
df["date_joined"] = df["date_joined"].ffill()

In [40]:
# Remove Duplicates
df.drop_duplicates(inplace=True)

In [42]:
# Final Cleaned Dataset
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   student_id   4 non-null      int64
 1   name         4 non-null      object
 2   score        4 non-null      float64
 3   date_joined  4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 160.0+ bytes

   student_id     name  score date_joined
0         101      Ayo   78.0  2024-01-10
1         102     Bola   85.0  2024-01-10
3         103    Chidi   79.5  2024-01-10
4         104  Unknown   70.0  2024-01-10

In [44]:
# Save Cleaned Dataset 
df.to_csv("cleaned_students_data.csv", index=False)

## Data Cleaning Log

- Standardized column names (lowercase, removed spaces)
- Detected and handled missing values using fill strategies
- Converted numeric and date columns to correct data types
- Parsed inconsistent date formats
- Removed duplicate records
- Exported cleaned dataset for analysis